<!DOCTYPE html>
<html lang="en">
<head>
    <title>InQuests Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="test.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
<div>

    <div class="banner">
        <div class="text-center">
            <img src="inquest_green_logo.png" style="background-color: transparent; width: 300px;">
        </div>
        <p class="text-center" style="padding-left: 150px">Sortir, rencontrer, jouer</p>
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row justify-content-sm-center">
                    <div class="offset-3 col-7">
                        <div class="row text-center">
                            <div class="col-md-3 col-sm-6">
                                <button class="{{idxClk}} menuBtn btn-block" ng-click="onClick('idx')">Index</button>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <button class="{{jeuClk}} menuBtn btn-block" ng-click="onClick('jeu')">Le jeu</button>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <button class="{{mnuClk}} menuBtn btn-block" ng-click="onClick('mnu')">Mon profil</button>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <button class="{{frmClk}} menuBtn btn-block" ng-click="onClick('frm')">
                                    <span class="glyphicons glyphicons-conversation"></span>
                                    Forum</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#myModal" ng-click="log()">
                            <span ng-if="logVar == false">Connexion</span>
                            <span ng-if="logVar == true">Déconnexion</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Connexion</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" id="usr">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <hr>
                    <div class="text-right">
                        <a href="#">Identifiants ouliés</a>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Valider</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>

            </div>
        </div>
    </div>

    <div ng-show="toDisp == 'idx'">
        Text pour index
    </div>

    <div ng-show="toDisp == 'jeu'">
        Text pour Le jeu
    </div>

    <div ng-show="toDisp == 'mnu'">
        Text pour le profil du joueur
    </div>

    <div ng-show="toDisp == 'frm'">
        Text pour le forum
    </div>

</div>
<script src="test.js"></script>

</body>
</html>
