.banner {
    background-color: #e9ecef;
    padding-top: 25px;
    padding-bottom: 2px;
}

.menuBtn {
    text-align: center;
}

.sidenav {
    background-color: #a4a4a4;
    height: auto;
}

.content {
    background-color: #555;
    color: white;
    padding: 15px;
}